# dependencies
/node_modules
mern-todo-be/node_modules
mern-todo-client/node_modules

# environments

# testing


# production build
mern-todo-client/build

# database
mern-todo-be/data

# auth config
mern-todo-be/src/server/auth/_config.js